@import "tailwindcss";

:root {
  background-color: #000000;
  color: #00ff41;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  width: 100%;
}
